body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #7f7272;
  line-height: 2;
}
h1{
  font-size: 80px;
  color: #66Bfbf;
  margin: 0;
  font-family: 'Sacramento', cursive;
}
h2{
   color: #66bfbf;
   font-family: 'Montserrat', sans-serif;
   font-size: 2.5rem;
   margin: 0;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}
h4{
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 0;
  font-weight: normal;
}
span{
  text-decoration: underline;
}
hr{
  border:none;
  border-top:5px dotted #eaf6f6;
  width: 10%;
}
a{
  color: #11999e;
  margin: 50px 20px 50px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.first{
  background-color:#E4f6f6;
  position: relative;
  padding-top: 200px;
}
.bottom-container{
  background-color: #66bfbf;
  padding: 30px;
}
.personalpic{
  border-radius: 100%;
  width: 20%;
}
.cloud-top{
  position: absolute;
  right: 10%;
  top: 10%;
}
.cloud-bottom{
  position: absolute;
  left: 10%;
  top: 53%;
}
.mountain{
  padding-top: 120px;
   width: 35%;
   height: 35%;
}
.profile{
  padding: 50px;
}
.skills{
  padding: 50px;
}
.contact-me{
  padding: 50px;
}
.skill-row{
  width:50%;
  margin: 100px auto;
  text-align: left;
}
.computer{
  border-radius: 100%;
  float: left;
  width: 25%;
  margin-right: 30px;
}
.chilli{
  border-radius: 100%;
  float: right;
  width: 25%;
  margin-left: 30px;
}
.last-tag{
  color: white;
  font-size: 0.75rem;
  padding: 20px;
}
.double-line{
  width: 50%;
  margin: 30px auto;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
